html,
body {
     height: 100%;
     margin: 0;
     padding: 0;
}

#map {
     height: 70%;
     width: 100%;
}

/* Header */

header {
     padding: 15px 5px;
}

form {
     display: inline-block;
     margin-left: 20px;
}

#pac-input {
     width: 300px;
}

/* Footer */

footer .row {
     margin: 0;
     text-align: center;
}

footer .row h2 {
     padding: 25px 0;
}

.row-content {
     display: inline-block;
     width: 24%;
     padding: 10px;
     vertical-align: top;
}

.row-content:hover {
     cursor: pointer;
}

.img-container {
     overflow: hidden;
     height: 230px;
}

/* Aside Block */

#place-info {
     width: 30%;
     height: 70%;
     position: absolute;
     right: 0;
     top: 56px;
     display: none;
}

.img-container {
     overflow: hidden;
     height: 350px;
}

.img-container>img {
     height: 100%;
     width: auto;
}

.fa {
     position: absolute;
     top: 151px;
     font-size: 2em;
     background-color: rgba(255, 255, 255, 0.8);
     border-radius: 50%;
}

.fa:hover {
     background-color: rgba(255, 255, 255, 1);
}

.fa-chevron-right {
     right: 15px;
     padding: 7px 9px 6px 12px;
}

.fa-chevron-left {
     left: 15px;
     padding: 7px 12px 6px 9px;
}

.btn-warning {
     position: absolute;
     right: 10px;
     top: 5px;
}

.aside-btn {
     margin-bottom: 5px;
}

/* Cities section */

#cities {
     text-align: center;
}

#cities h1 {
     text-transform: uppercase;
}

.cities-card {
     display: inline-block;
     width: 30%;
     padding: 5px;
     margin: 5px;
     vertical-align: top;
}

.cities-card:hover {
     cursor: pointer;
}

.cities-img {
     overflow: hidden;
     height: 300px;
}
